<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
   
    <div id="app">
        <h1>Cadastro no novo usúario</h1>

        <form>
       
            <label>Nome de usúario</label>
            <input type="text">

            <label>Senha</label>
            <input type="password">

            <label>Confirma Senha</label>
            <input type="password">

        </form><!--Fechamento form--->
        
        <button @click="adicionarUsuario">Cadastrar</button>

        <p class="error">{{error}}</p>
        <p class="sucesso">{{sucesso}}</p>

    
    </div><!--Fechamento do principal-->

        <script src="process.js"></script>

    </body>
    </html>