.error{
    color: red;
    margin-top: 10px;
}

.sucesso{
    color:aquamarine;
    margin-top: 10px;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(134, 196, 196);
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(43, 102, 197);
    padding: 20px;
    box-shadow: 10px 10px 10px gray;
    text-align: 
    center;
    border-radius: 5px;
}

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
}

label{
    margin-bottom: 5px;
}

input[type="text"], input[type="password"]{
padding: 10px;
border-radius: 10px;
border-color: brown;
border-style: solid;
border: none;
margin-bottom: 10px;

}

button{
    padding: 10px;
    background-color: aquamarine;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color: aqua;
}