body {
    background-color: rgb(255, 248, 248,1);
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    margin: top 5%;
    color:rgb(51, 5, 5); 
}
ul{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
li{
    margin:5%
}

a{
    display: block;
    text-align: center;
    background-color: rgba(80, 171, 241, 1);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    transition:all 0.5s ease-in-out;
    color: white;
}
a:hover{
    background-color: bisque;
    color:brown;
}

.instagram{
    background-color: rgba(249, 54, 60, 1);
    background-image: linear-gradient(to bottom, rgba(249, 54, 60, 1),
     rgba(245, 38, 214, 1));
}

.twitter{
    background-color: rgba(80, 171, 241, 1);

}