.error{
    color:red;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:green;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(223, 228, 233);
    margin: 0;
    padding: 20px;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(239, 121, 211);
    padding: 20px;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: blueviolet;
    border-radius: 10px;
}

label{
    margin-bottom: 10px;
}

.labelCadastro{
    display:block;
    margin-bottom: 5px;
    margin-top: 15px;
}

input[type="text"], input[type="password"]{
    padding: 10px;
    border-radius: 10px;
    /* border-color: ; */
    /* border-style: solid; */
    /* border: none; */
    margin-bottom: 10px;
}

.textos{
    width: 95%;
    border: 1px solid rgb(0, 0, 0);
    font-size: 16px;


}

button{
    padding: 10px;
    background-color:rgb(73, 0, 128);
    color: rgb(1, 1, 1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: 15px;
}


button:hover{
    background-color:rgb(2, 62, 2);
}
 
.lista{
    margin-top: 20px;
    border: 2px solid salmon;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(195, 105, 255);
}

ol{
    margin-top: 10px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-items: center;
}

li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    background-color: darkmagenta;
    padding-left: 10px;
    margin-left: 0px;
    border-radius: 10px;
}