<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Calcados</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h1>Loja de Calçados</h1>
        <ul>
            <li v-for="product in products">
                <a :href="'#/product/' + product.id">
                    <img :src="product.image" :alt="product.name">
                    <span>{{product.name}}</span>
                </a><!--Fechamento a-->
            </li><!--Fechamento lista-->
        </ul><!---Fechamento ul-->

        <!--Fechamento de exibição dos detalhes dos produtos-->
        <div>
            <h2>{{currentProduct.name}}</h2>
            <p>{{currentProduct.description}}</p>
            <p>Preço: R$ {{currentProduct.price}}</p>
            <button @click="addToCart(currentProduct)">Adicionar ao carrinho</button>
        </div><!--Fechamento div--->

        <div>
            <h3>Carrinho de compras</h3>
           

            <ul v-if="cart.length > 0">
                <li v-for="item in cart">
                    {{item.name}} - R$ {{item.price}}

                </li><!--Fechamento lista-->
            </ul><!---Fechamento lista-->

           

            <div v-if="cart.length > 0">
                <h1>Checkout</h1>
                <ul>
                    <li v-for="product in cart">
                        <img :src="product.image" :alt="product.name">
                        <h3>{{product.name}}</h3>
                        <p>{{product.description}}</p>
                        <p>Preço: R$ {{product.price}}</p>
                        <button @click="removeFromCart(product)">Remover!</button>
                    </li><!--Fechamento linha-->
                </ul><!--Fechamento lista-->

                <i>Quantidade de itens: {{cartItemCount}}</i>
                <div>
                    <x>
                    Total: R$ {{cartTotal.toFixed(2)}}
                    </x>
                </div><!--Fechamento div total-->
            </div><!--Fechamento div checkout-->
        </div><!--Fechamento div cart-->

    </div><!--Fechamento div app--->
    <script src="process.js"></script>      
</body>
</html>