img{
    width: 150px;
    height: auto;
    border: 1px solid rgb(43, 98, 226);
    padding: 5px;
    background-color: black;
    transition: transform 0.2s;
    border-radius: 10px;
}

img:hover{
    transform: scale(1.05);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 184, 251);
    padding: 20px;
    color: rgb(255, 255, 255);
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li{
    margin-right: 20px;
    margin-bottom: 20px;
}

a{
    color: rgb(230, 32, 18);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
button{
    background-color: rgb(235, 196, 216);
    color: aqua;
    padding: 5px 10px;
    cursor: pointer;
    border-style: 100px solid;
    border-color: blueviolet;
    border-radius: 7px;
    margin-right: 10px;
}
button:hover{
    background-color: black;
}
x{
    color: blueviolet;
}