.calculadora{
    background-color: aquamarine;
    top:50%;
    left:50%;
    position: fixed;
    display: flex;
    border: 1px solid gray;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 20px;
    border-radius: 4px;
    background-image: linear-gradient(rgb(185, 131, 131),gray);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}/**Fechamento calculadora*/

.tela{
    color: aliceblue;
    width: 93%;
    height: 80px;
    background-color: rgb(189, 161, 218); 
    border-radius: 10px;
    font-size: 3rem;
    margin-bottom: 20px;
    border: 3px solid coral;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}/*Fechamento tela*/

.linha{
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
}/*Fechamento linha*/

.configuracaoBotao{
    display:flex;
    flex-direction: column;
    align-items: center;
}/*FechamentoconfiguracaoBotao*/

button{
    font-size: 2rem;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    border: 1px solid salmon;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(152, 91, 209);

}

button:hover{
    
} background-color: bisque;